<%- include('partials/header.ejs') %>

<section class="spirit-search">
  <div class="container-fluid">
    <div class="spirit-search__containers">

      <div class="spirit-search__spirit-name">
        <%= choice %>
      </div>
      
      <form action="/view-recipe" method="POST" class="buttons">
        <% data.forEach(cocktail => { %>
          <button 
            class="spirit-search__spirit" 
            type="submit" 
            name="id"
            value="<%= cocktail.idDrink %>">
            <div 
              class="spirit-search__brick" 
              style="background: url('<%= cocktail.strDrinkThumb %>') no-repeat; background-size: contain;">
              <div class="spirit-name">
                <%= cocktail.strDrink %>
              </div>
            </div>
          </button>
        <% }) %>
      </form>
    </div>
  </div>

</section>

<div class="back-button">
  <h4 onclick="history.back()">Back to previous page</h4>
</div>

<%- include('partials/footer.ejs') %>
